@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 500px) {
    p {
        font-size: 12px;
    }
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.text_r a {
    color: #fff;
}

p {
    margin: 10px 0;
}

header {
    padding: 0;
    margin: 0;
    border-bottom: 1px black solid;
}

#logo {
    margin: 10px;
    width: 250px;
}

@media (max-width: 500px) {
    #logo {
        width: 100%;
    }
}

#page-holder {
    background-color: #fff9e2;
    height: 100%;
}

#contents {
    padding-top: 1%;
}

#title-holder {
    margin: 10px;
}

#title {
    margin-top: 0;
    text-align: right;
    height: 95px;
    padding-top: 1%;
}

.red-text {
    color: #D80707;
}

.dark-red {
    color: #990033;
}

#author-name {
    font-style: italic;
    text-align: right;
    padding-top: 1%;
    font-weight: bold;
    font-size: 17px;
}

#main-info-holder {
    background-color: #ffffff;
    border: 1px black solid;
    float: left;
    width: 100%;
    margin: 15px 0;
}

.title-red-block {
    width: 100%;
    height: 40px;
    background-color: #990033;
    margin: 20px auto 10px;
    -webkit-box-shadow: 10px 9px 21px -8px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 9px 21px -8px rgba(0,0,0,0.5);
    box-shadow: 10px 9px 21px -8px rgba(0,0,0,0.5);
}

.red-block-text {
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0 22px;
    padding: 10px 0 0 0;
}

.text-title {
    font-size: 16px;
    font-weight: bold;
}

.hot-tip-container {
    width: 100%;
    margin: 10px 0;
    padding: 0
}

.text_container_l {
    float: left;
    width: 20%;
    background-color: #ffcc33;
    border-radius: 5px 0 0 5px;
}

.text_container_r {
    float: left;
    width: 395%;
    background-color: #336699;
    border-radius: 0 5px 5px 0;
    margin: 0 0 0 104%;
}

.text_l {
    float: left;
    margin: 2% -17%;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}
.text_r {
    float: left;
    color: white;
    font-size: 12px;
    margin: 15px;
}

#answer-hub-img-container {
    width: 100%;
}

#answer-hub-link {
    border: 2px #666666 solid;
}

.img {
    width: 100%;
}

table {
    max-width: 530px;
    margin: 0 auto;
}
.th-color {
    background-color: #bae1f8;
}

.tr-color-blue {
    background-color: #def0fc;
}

.tr-color-light-blue {
    background-color: #f1f9fe;
}

.references-link {
    color: #2697F8;
    line-height: 2;
}

.references-link:hover {
    color: #2697F8;
    text-decoration-line: underline
}

.references-link:visited {
    color: #900060;
}

#footer-holder {
    background-color: #b6dff8;
}

.footer-text {
    font-size: 11px;
    line-height: 1.2;
}

#author-photo {
    float: left;
    width: 100px;
    margin: 5px;
}

#recommended-books {
    float: left;
    width: 100px;
    margin: 5px;
}

p strong a {
    font-size: 12px;
    color: black;
    text-decoration-line: underline;
}

p strong a:hover {
    color: black;
    text-decoration-line: underline;
}